{% extends "base.html" %}

{%- block site_meta %}
  {{ super() }}
        {% if page %}<meta name="article_title" content="{{ page.title }}">{% endif %}
{% endblock %}


{% block analytics %}
<!-- Consent -->
 <script>
    (function () {
      if (!localStorage.getItem('cookieConsent')) {
        const script = document.createElement('script');
        script.src = '/javascripts/c.js';
        script.async = true;
        document.head.appendChild(script);
      }
    })();
</script>
<!-- End Consent -->

<!-- Google Tag Manager A -->                                                                                                                                          
 <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':                                                                                                   
 new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],                                                                                            
 j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=                                                                                                
 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);                                                                                   
 })(window,document,'script','dataLayer','GTM-TCKL8M2M');</script>                                                                                                    
 <!-- End Google Tag Manager -->

 <script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('consent', 'default', {
    'analytics_storage': 'granted',
  });
</script>
{% endblock %}
